h1{
  color: blue;
  background-color:white;
  }
  h2{
    color:blue;
    }
    p{
      text-incident: 2.5cm;
      }
      ol{
        background-color#104c56:;
        font-style:italic;
        color:#104c56;
      }
body
{
  background-color: lightgrey;
}
